### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# jpg files as meeting records 
*.jpg

# Non-code files
*.pdf
*.rktd

# compiled
*.dep
*.zo

# benchmark & test related
/collectors/cache.rkt
/benchmarks/collectors
/benchmarks/collector.rkt
/benchmarks/cache.rkt
/benchmarks/basic/*.rktd
/benchmarks/basic/*.txt
/tests/collector.rkt
/tests/cache.rkt
